*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 100px;
  padding-top: 50px;
  margin-bottom: 131px;
  padding-bottom: 50px;
}

.stationList {
}

.stationLogo {
  max-height: 80%;
}
.station {
  height: 89px;
  cursor: pointer;
  width: 500px;
  background: rgba(253, 240, 202, 0.5);
  margin: 15px;
  margin-left: 75px;
  border-radius: 15px;
  display: flex;
  padding-left: 29px;
  align-items: center;
}
.station:hover {
  background: rgba(194, 208, 102, 1);
}
.stationName {
  color: rgba(47, 72, 88, 1);
  justify-self: end;
  font-size: large;
  position: absolute;
  left: 400px;
}

@media screen and (max-width: 668px) {
  .main {
    margin-top: 80px;
    padding-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }

  .station {
    height: 89px;
    cursor: pointer;
    width: 80%;
    background: rgba(253, 240, 202, 0.5);
    margin: 15px;

    display: flex;

    align-items: center;
  }

  .stationName {
    display: none;
  }
  .station:focus {
    background-color: #ffdb3a;
  }
}
